
body{
background-color:rgb(224, 224, 224);
   margin: 20;  
   padding: 0;  
   height: auto;
   max-width: 100%;
   font-family: monospace;
   height:100%
   
}

.Choices{

    
    display: flex;
    justify-content: center;
    height: 400px;
    text-align: center;
   
}

#box{
    width: 33%;
    text-align: center;
    font-size: 40px;
    margin: 10px;
    border: 10px;
    border-style: solid;
    border-radius: 20px;
}

.Score,.Score2,.Result,.Decision{
    margin: 50px;
    margin-left: 50px;
    margin-right:50px;
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    text-align: center;

}

.Score2{
    margin-left: 150px;
    margin-right:220px;
}

.Decision{
    justify-content: center;
}

.Score,.Score2,.Result,.Decision{
    border: 10px;
    border-style: solid;
    border-radius: 20px;
    padding:30px;
    background-color: blanchedalmond;
}

